<footer>
  <span class="copyright">
    &copy; {{date format="YYYY"}}. All rights reserved.<br> 由 <a href="https://bestswifter.com" target="_blank">bestswifter</a> 根据 <a href="https://github.com/Kikobeats/uno-zen" target="_blank">uno-zen</a> 改编而来，代码在 <a href="https://github.com/bestswifter/uno-zen" target="_blank">GitHub</a> 上开源.</a>.
  </span>
</footer>
